/* Body */
.hot-news-icon {
  width: 20px;
  height: 20px;
}
.hot-news-label {
  text-align: center;
  margin-top: 20px;
  color: firebrick;
  font-weight: bold;
  font-size: large;
}
.hot-news-list {
  justify-content: center;
  flex-wrap: wrap;
}

.news-item {
  flex-direction: column;
  max-width: 230px;
  padding: 20px;
}

.news-item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.news-title {
  color: var(--color-black);
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}
.news-img {
  object-fit: cover;
}
.news-title:hover,
.news-img::before {
  color: blue;
  cursor: pointer;
}

.group-news-other {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.other-news {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.other-news-item img {
  width: 230px;
  height: 170px;
}

.other-news-item {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  padding-top: 5px;
}


.other-news-contents {
  padding: 0 20px 10px 20px;
}

.short-contents-other {
  padding-top: 10px;
}

.short-contents-other-mobile,
.hr-mobile{
  display: none;
}

.news-bar {
  width: 270px;
  height: 700px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  padding: 10px;
}

.title-news-bar {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.crossbar {
  border-top: 1px dotted gray;
}
